body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.5s ease;
}

#buahTerpilih {
  font-size: 2.5vw; /* Ubah ukuran font menjadi responsif terhadap lebar viewport */
  padding: 2vw; /* Ubah padding menjadi responsif */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: center; /* Tambahkan ini untuk memastikan teks selalu terpusat */
  max-width: 90%; /* Batasi lebar maksimal agar konten tidak melebar terlalu jauh di layar lebar */
}

#buahTerpilih:hover {
  transform: scale(1.05);
}

/* Media query untuk layar kecil */
@media only screen and (max-width: 600px) {
  #buahTerpilih {
    font-size: 5vw; /* Ukuran font lebih besar untuk layar kecil */
    padding: 3vw;
  }
}
