body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}

#daftarBuah,
#daftarWaktu,
#daftarPersen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  max-width: 90%;
  margin: 5% auto;
}

.buah,
.waktu,
.persen {
  font-size: 1.2vw;
  padding: 1vw;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: center;
}

.buah:hover,
.waktu:hover,
.persen:hover {
  transform: scale(1.05);
}

#daftarBarProgres {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 90%;
  margin: 5% auto;
}

/* ... kode CSS sebelumnya ... */

.barProgres {
  height: 1.5vw;
  background-color: #e0e0e0;
  overflow: hidden;
  position: relative;
}

.barProgres-fill {
  height: 100%;
  width: 0%; /* Ini akan diubah oleh JavaScript */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  /* Efek strip dan gradien */
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  transition: width 0.6s ease;
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

.barProgres-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  font-size: 1vw;
  color: #000;
  pointer-events: none;
  width: 100%;
  text-align: center;
}

nav {
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #0056b3;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .buah,
  .waktu,
  .persen {
    font-size: 3.5vw;
    padding: 2.5vw;
  }

  .barProgres {
    height: 4vw;
  }
  .barProgres-text {
    font-size: 0.8rem; /* Anda dapat menyesuaikan ukuran font untuk layar kecil */
  }
  nav {
    flex-direction: column;
    gap: 10px 0;
  }
}
